*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: rgb(243, 235, 202);
}

table {
    border: 10px solid rgb(9, 9, 9);
    /* display: flex; */
    margin: auto;

}

th,td{
    padding: 20px;
    border: 2px solid rgb(16, 87, 114);
    background-color: rgb(32, 112, 112);
    width: 150px;
    color: aliceblue;
    font-size: 30px;
    height: 150px;
    text-align: center;
}
#tdImg {
    border: 2px solid blue;
    border-radius: 50%;
    /* box-shadow: 12px 12px 12px gray; */
}
td img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}