div {
    width: 200px;
    height: 300px;
    border: 20px solid red;
    /* margin: 30px; */
    /* margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 200px;
    margin-left: 100px; */
    /* margin: 200px 100px; */
    /* margin: 20px 100px 40px; */   /*  top right&left bottom */
    margin: 10px 20px 30px 40px;


}