*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}


nav {
    /* border: 2px solid red; */
    height: 65px;
    display: flex;justify-content: center;
    align-items: center;
    background-color: rgb(10, 81, 126);
}
.nav-container{
    /* border: 2px solid green; */
    width: 85%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    /* border: 2px solid black; */
    height: inherit;
    width: 10%;
    align-content: center;
    text-align: center;
}

.logo p{
    color: aliceblue;
    font-size: 44px;
    font-weight: bolder;
}

.nav-list {
    width: 40%;
    height: inherit;
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list a{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    transition: all;
    transition: 0.3s;
    transition-delay: 0s;
}

.nav-list a:hover{
    color: red;
}












section{
    /* border: 2px solid red; */
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parent-container {
    /* border: 2px solid blue; */
    box-shadow: 1px 2px 5px rgb(223, 222, 222);
    width: 850px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1 {
    /* border: 2px solid rgb(94, 23, 147); */
    background-color: rgb(123, 34, 207);
    border-radius: 30px;
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;


}

.container1 #title h3{
    color: rgb(186, 187, 188);
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container1 #title2 p{
    color: rgb(225, 225, 225);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container1 #circle {
    /* border: 1px solid red; */
    border-radius: 50%;
    width: 200px;
    padding: 10%;
    background-color: rgb(96, 23, 165);
}

#circle #top{
    color: rgb(234, 235, 236);
    font-size: 74px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 2px solid red; */
}
#circle #bottom{
    color: rgb(153, 154, 155);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* border: 2px solid red; */
    text-align: center;
}
#paragraph{
    text-align: center;
    color: rgb(178, 179, 180);
    width: 300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container2 {
    /* border: 2px solid black; */
    width: 50%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#container2-title h3{
    text-align: left;
    width: 340px;
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(116, 114, 114);
    font-weight: bolder;
}

.summary-data {
    /* border: 2px solid red; */
    border-radius: 8px;
    display: flex;
    width: 80%;
    justify-content: space-between;
    background-color: rgb(240, 240, 237);
    padding: 15px 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.summary-data p span{
    color: rgb(169, 167, 167);
    font-weight: bolder;
}

.summary-data #reaction{
    color: red;
}
.summary-data #memory{
    color: rgb(217, 210, 6);
}
.summary-data #verbal{
    color: rgb(34, 255, 0);
}
.summary-data #visual{
    color: rgb(100, 45, 188);
}
.summary-data p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgb(102, 96, 96);
}

.container2 button {
    padding: 15px 100px;
    border-radius: 30px;
    color: rgb(242, 243, 244);
    border: none;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.413);
}