* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ? <!-- 1. Descendent Selector (space) --> */

/* section p{
    background-color: rgba(2, 100, 67, 0.594);
    color: aliceblue;
} */




/* ??<!-- Child Selector (>)--> */

/* section > p {
    background-color: rgb(137, 137, 13);
    color: aliceblue;
} */


/* <!-- Adjacent Sibling Selector(+) --> */

/* div + p {
    background-color: rgb(4, 105, 71);
    color: white;
} */


/* <!-- 4.  General Sibling selector (~)--> */

div ~ p{
    background-color: blue;
}
