*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-container1{
    border: 10px solid rgb(249, 248, 248);
    border-radius: 40px;
    background-color: aliceblue;
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn1 {
    width: 40px;
    height: 40px;
    background-color: rgb(4, 0, 0);
    border-radius: 100%;
    /* color: aliceblue; */
    border: 3px solid rgb(249, 246, 246);
    
}
.btn-container2{
    border: 10px solid rgb(164, 161, 161);
    width: 100px;
    height: 50px;
    background-color: rgb(164, 161, 161);
    border-radius: 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.btn2 {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 254, 254);
    border-radius: 100%;
    color: white;
    border: 3px solid rgb(164, 161, 161);
}

h1{
    text-align: center;
}
