.btn-container1{
    border: 10px solid rgb(249, 248, 248);
    border-radius: 40px;
    background-color: aliceblue;
    width: 100px;
    height: 50px;
}

.btn1 {
    width: 50px;
    height: 50px;
    background-color: rgb(4, 0, 0);
    border-radius: 100%;
    border: 3px solid rgb(255, 252, 252);
    
}
.btn-container2{
    border: 10px solid rgb(164, 161, 161);
    width: 100px;
    height: 50px;
    background-color: rgb(164, 161, 161);
    border-radius: 40px;
    display: flex;
    justify-content: end;
}

.btn2 {
    width: 50px;
    height: 50px;
    background-color: rgb(255, 254, 254);
    border-radius: 100%;
    color: white;
    border: 3px solid rgb(255, 252, 252);
}

h1{
    text-align: center;
}
