
/*------- (i)  ID Selector------ */

/* #head {
    background-color: antiquewhite;
} */


/* ----- (ii)  class Selector----- */

/* .head {
    background-color: antiquewhite;
} */


/*----- ID vs Class Selector -----*/

/* #head1 {
    background-color: blueviolet;
}

.head {
    background-color: antiquewhite;
} */


/*----  (iii) Tag OR Element Selector ----*/

/* h2 {
    background-color: rgb(196, 18, 18);
    color: aliceblue;
} */



/*------ (iv)  Grouping Selector------- */


h6,h2,section,div {
    background-color: cadetblue;
}



/*------ (v)  Universal Selector----- */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


